
<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<% if @restaurant.reviews.any? %>
  <%= @restaurant.reviews.each do |review| %>
    <p><%= review.thoughts %></p>
    <p><%= review.rating %></p>
  <% end %>
<% end %>




<!-- <p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.reviews %></p> -->
